.about {
  display: grid;
  grid-template-areas: "heading" "pitch";

  box-shadow: inset 0 0 8px var(--black);
  padding: 5rem 1.5rem;
}

.about__header {
  grid-area: heading;
}



.about__desc {
  margin-bottom: 1rem;
}

.about__nav {
  margin-bottom: 6rem;
}

.pitch {
  grid-area: pitch;

  padding: 1.25rem;
}

.pitch__video,
.pitch__controls {
  position: inherit;
  z-index: 2;
}

.about__link {
  text-transform: uppercase;
}

@media screen and (min-width: 720px) {
  .about {
    padding: 5rem 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding: 5rem 4rem;

    grid-template-areas: "heading pitch";
    grid-template-columns: 4fr 3fr;
  }

  .about__nav {
    margin-bottom: 0;
  }
}
