.project {
  background-image: linear-gradient(to bottom, var(--black), var(--black-2));
  display: grid;
  grid-template-areas: "header" "desc" "links" "banner";
}

.project__header {
  margin-bottom: 64px;
  grid-area: header;
}

.project__title {
  margin-bottom: 1rem;
  text-shadow: 0 0 0.5rem var(--black);
}

.project__stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project__tech {
  padding: 4px 16px;
  background-color: var(--lavender-web);
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
}

.project__desc {
  position: relative;
  padding: 16px;
  margin-bottom: 32px;
}

.project__desc::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-top: 0.125rem solid;
  border-left: 0.125rem solid;
}

.project__desc::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: calc(100% - 16px);
  left: calc(100% - 16px);
  width: 16px;
  height: 16px;
  border-bottom: 0.125rem solid;
  border-right: 0.125rem solid;
}

.project__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 96px;
  grid-area: links;
}

.project__figure {
  max-width: fit-content;
  position: relative;
  isolation: isolate;
  margin-inline: auto;
  grid-area: banner;
}

.project__img {
  clip-path: polygon(0 100%, 90% 100%, 100% 90%, 100% 0, 10% 0, 0 10%);
  position: relative;
  z-index: inherit;
}

.project__figcaption {
  background-color: var(--lavender-web);
  padding: 0.25rem 0.5rem;
  width: fit-content;
  color: var(--black);
  font-weight: bold;
  position: absolute;
  z-index: 2;
  left: 10%;
  top: -5%;
}

@media screen and (min-width: 720px) {
  .project {
    grid-template-areas: "header header" "desc banner" "links banner";
    gap: 32px;
    grid-template-columns: 3fr 2fr;
  }

  .project__header,
  .project__desc,
  .project__links,
  .project__figure {
    margin-bottom: 0;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .project__links {
    flex-direction: row;
  }

  .project__figure {
    max-width: none;
    width: 100%;
  }

  .project__img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: fill;
  }
}
