.form {
  padding: 1.5rem;
  background-color: var(--c-gray);
  border: 4px outset var(--c-gray-ls);
}

.form__legend {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--c-raisin);
}

.form__legend::after {
  content: ".html";
  color: var(--c-gray-ls);
}

.form__field {
  display: grid;
  grid-template-areas: "fieldLabel blank" "input output";
  grid-template-columns: repeat(4, auto);
}

.form__field--textarea {
  display: grid;
  grid-template-areas: "fieldLabel" "input" "output";
  grid-template-columns: repeat(4, auto);
}

.form__field,
.form__field--textarea {
  margin-bottom: 1rem;
}

.form__label,
.form__input,
.form__textarea,
.form__output,
.form__output--textarea {
  padding: 0.5rem 1rem;
}

.form__label,
.form__output,
.form__output--textarea {
  background-color: var(--c-raisin-ls);
}

.form__label::before {
  content: "> ";
}

.form__label {
  grid-area: fieldLabel;
  width: fit-content;
}

.form__input,
.form__textarea {
  grid-area: input;
  color: var(--c-raisin-ds);
  border: 4px inset var(--c-gray-ls);
  background-color: var(--c-gray-l);
  width: 100%;
}

.form__output,
.form__output--textarea {
  grid-area: output;
}

.form__output {
  width: 3rem;
}

.form__output--textarea {
  width: 100%;
}

.form__submit {
  font-weight: bold;
  border-color: var(--c-sky);
  background-image: linear-gradient(to top, var(--c-sky-l), var(--c-sky-ds));
  box-shadow: 0 0 8px var(--c-gray-ds);
}
