
.footer {
  background-color: var(--c-raisin-ds);
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 -2px 8px var(--c-raisin-xds);
}

.footer__title {
  color: var(--c-yellow-ls);
}

.footer__description {
  font-size: 80%;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 728px) {
  .footer {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 728px) {
  .footer {
    padding-inline: 5rem;
  }
}