
.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
  background-color: var(--c-raisin-ds);
  padding: 1.5rem;
}

.header__navbar {
  flex-direction: column;
  justify-content: center;
}

.header__navbar .navbar__item::before {
  content: "~/";
}