.contact {
  padding: 5rem 1.5rem;
  scroll-margin-top: 6.75rem;
}

@media screen and (min-width: 728px) {
  .contact {
    padding-inline: 3rem;
    background-image: url("/trsaints_illustration.svg");
    background-size: 18rem;
    background-repeat: no-repeat;
    background-position: 30rem 40rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    scroll-margin-top: 5.625rem;
    padding-inline: 5rem;
    background-position-x: 50vw;
    background-size: 22rem;
  }
}
