.filter {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 4rem;

  background-image: linear-gradient(
    to bottom,
    var(--dark-purple),
    var(--dark-purple-2)
  );
  box-shadow: 0 0 8px var(--black);
}

.filter__fieldset {
  display: flex;

  align-items: center;
  flex: 1;
  flex-direction: column;
}

.filter__label {
  white-space: nowrap;
}

.filter__select {
  display: flex;

  margin-bottom: 1rem;
}

.filter__select > .filter__input {
  padding: 0.75rem 1rem;

  background-color: var(--russian-violet);
  box-shadow: 4px 0 8px var(--black);
  text-transform: uppercase;
}

.filter__search {
  padding: 0.75rem 1rem;
  width: 100%;

  background-color: var(--lavender-web-2);
  color: var(--black);
}

@media screen and (min-width: 720px) {
  .filter {
    padding-inline: 2.5rem;
  }

  .filter,
  .filter__fieldset {
    align-items: center;
    flex-direction: row;
  }

  .filter__fieldset {
    column-gap: 1.5rem;
  }

  .filter__select {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .filter {
    padding-inline: 4rem;
  }
}
