.filter {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--dark-purple),
    var(--dark-purple-2)
  );
  padding: 1.5rem;
  box-shadow: 0 0 8px var(--black);
  position: relative;
  margin-bottom: 10rem;
}

.filter__fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__label {
  white-space: nowrap;
}

.filter__select {
  display: flex;
  margin-bottom: 1rem;
}

.filter__select > .filter__input {
  background: var(--russian-violet);
  padding: 0.75rem 1rem;
  box-shadow: 4px 0 8px var(--black);
  text-transform: uppercase;
}

.filter__search {
  background-color: var(--lavender-web-2);
  padding: 0.75rem 1rem;
  color: var(--black);
  width: 100%;
}
