.header {
  background-image: linear-gradient(
    to bottom,
    var(--black-2),
    var(--raisin-black)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 8px black;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 72px;
}

.header__banner {
  width: 2rem;
}

.header__nav {
  display: none;
  position: absolute;
  top: 72px;
  right: 0;
}

.header__menu:focus-within .header__nav {
  display: flex;
  padding: 1.5rem;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  gap: 1.5rem;
  background-image: linear-gradient(
    to top,
    var(--black-2),
    var(--raisin-black)
  );
}

.header__link {
  color: white;
  text-shadow: 0 0 8px white;
  cursor: pointer;
  text-transform: uppercase;
}

.header__link::before {
  content: "~/";
}

@media screen and (min-width: 728px) {
  .header {
    padding: 1.5rem 2.5rem;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    display: flex;
    gap: 1.5rem;
    position: static;
    justify-content: flex-end;
    flex-direction: row;
    background-image: linear-gradient(
      to bottom,
      var(--black-2),
      var(--raisin-black)
    );
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 1.5rem 4rem;
    width: calc(100vw - 1rem);
  }
}
