.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;

  padding: 1rem 1.5rem;
  height: 72px;
  width: 100vw;

  background-image: linear-gradient(
    to bottom,
    var(--black-2),
    var(--raisin-black)
  );
  box-shadow: 0 0 8px black;
}

.header__banner {
  width: 2rem;
}

.header__nav {
  display: none;
  position: absolute;

  top: 4.5rem;
  right: 0;
}

.header__menu:focus-within .header__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  gap: 1.5rem;
  padding: 1.5rem;

  background-image: linear-gradient(
    to top,
    var(--black-2),
    var(--raisin-black)
  );
  text-align: right;
}

.header__link {
  position: relative;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 8px white;
  text-transform: uppercase;
  padding: 0 0.25rem;
  border: 2px solid transparent;
}

.header__link::before {
  content: "~/";
}

.header__link::after {
  content: "";
  display: block;
  height: 0.125rem;
  width: calc(100% - 0.5rem);
  position: absolute;
  background-color: white;
  box-shadow: 0 0 8px white;
  left: 0.25rem;
}

@media screen and (min-width: 728px) {
  .header {
    padding: 1.5rem 2.5rem;
  }

  .header__button {
    display: none;
  }

  .header__nav,
  .header__menu:focus-within .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: static;

    padding: 0;
    gap: 1rem;

    background-image: linear-gradient(
      to bottom,
      var(--black-2),
      var(--raisin-black)
    );
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 1.5rem 4rem;
    width: calc(100vw - 1rem);
  }
}
