.hero {
  padding: 8rem 1.5rem 5rem 1.5rem;
  background-color: transparent;
  position: relative;
  isolation: isolate;
  z-index: 2;
  overflow: hidden;
  display: grid;
  grid-template-areas: "title" "banner" "desc" "option";
}

.hero::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: linear-gradient(var(--c-raisin-ds), var(--c-raisin-ls));
}

.hero::after {
  position: absolute;
  content: "";
  display: block;
  width: 320px;
  height: 320px;
  background-image: linear-gradient(var(--c-pink-ds), var(--c-yellow-l));
  border-radius: 50%;
  box-shadow: 0 0 8px var(--c-raisin);
  bottom: -100px;
  right: -50px;
  z-index: -1;
}

.hero__title {
  font-size: 3rem;
  background-image: linear-gradient(var(--c-gray-ls), var(--c-gray-ds));
  background-clip: text;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  grid-area: title;
}

.hero__banner.window {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: var(--c-raisin);
}

.hero__banner::before {
  content: "~/Projects/trs.exe" / "";
  position: absolute;
  top: -1.75rem;
  left: 0;
  color: var(--c-raisin-ds);
}

.hero__banner {
  box-shadow: 16px 16px var(--c-raisin-ds);
  position: relative;
  grid-area: banner;
}

.hero__description {
  font-size: 1.5rem;
  grid-area: desc;
  text-shadow: 4px 4px 4px var(--c-raisin-ds);
}

.hero__navbar {
  grid-area: option;
}

.hero__item {
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
  color: var(--c-raisin);
  width: 8rem;
  text-align: center;
}

.hero__link {
  color: var(--c-raisin-ds);
  padding: 0.5rem;
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 728px) {
  .hero {
    padding-inline: 3rem;
  }

  .hero::after {
    width: 420px;
    height: 420px;
  }

  .hero__banner.window {
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-inline: 5rem;
    grid-template-areas: "title title" "desc banner" "option banner";
    column-gap: 2rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__banner {
    width: 25rem;
  }

  .hero__description {
    align-self: flex-end;
  }

  .hero__navbar {
    align-self: flex-start;
  }
}

.hero__item:hover,
.hero__item:focus-within {
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--c-gray-ls);
}

.hero__item:active {
  transform: scale(1);
  box-shadow: none;
  border-style: inset;
  background-image: none;
  background-color: var(--c-gray-d);
}
