.hero {
  padding: 8rem 1.5rem 5rem 1.5rem;
}

.hero__title {
  color: var(--c-sky);
  text-shadow: 1px 1px var(--c-sky-ds);
  background: var(--c-raisin-ds);
}

.hero__banner.window {
  padding: 0;
  margin-bottom: 2rem;
}

.hero__item {
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
  padding: 0.5rem 1rem;
  color: var(--c-raisin);
}

.hero__link {
  color: var(--c-raisin-ds);
}