.hero {
  padding: 8rem 1.5rem 5rem 1.5rem;
  background-color: transparent;
  position: relative;
  isolation: isolate;
  z-index: 2;
  overflow: hidden;
}

.hero::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: linear-gradient(
    var(--c-raisin-ds), var(--c-raisin-ls)
  );
}

.hero::after {
  position: absolute;
  content: "";
  display: block;
  width: 320px;
  height: 320px;
  background-image: linear-gradient(var(--c-pink-ds), var(--c-yellow-l));
  border-radius: 50%;
  box-shadow: 0 0 8px var(--c-raisin);
  bottom: -100px;
  right: -50px;
  z-index: -1;
}

.hero__title {
  font-size: 3rem;
  background-image: linear-gradient(var(--c-gray-ls), var(--c-gray-ds));
  background-clip: text;
  text-shadow: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.hero__banner.window {
  padding: 0;
  margin-bottom: 3rem;
}

.hero__banner {
  box-shadow: 16px 16px var(--c-raisin-ds);
}

.hero__description {
  font-size: 1.5rem;
}

.hero__item {
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
  padding: 0.5rem 1rem;
  color: var(--c-raisin);
}

.hero__link {
  color: var(--c-raisin-ds);
}
