.modal {
  display: block;
  position: fixed;
  z-index: 101;

  height: calc(100vh - 5.5rem - 72px);
  width: calc(100vw - 3.5rem);

  top: calc(72px + 4rem);
  left: 1.75rem;

  box-shadow: 0 0 100vw 13rem var(--black);
}

.modal__menu {
  position: fixed;
  z-index: 102;

  top: 1rem;
  left: calc(100% - 4.5rem);
}

.modal__close {
  display: block;

  width: 3rem;
  height: 3rem;
}

.modal article {
  position: relative;
  z-index: 102;
  margin: 0.25rem;
  padding: 1rem;
  max-height: calc(100% - 8px);
  overflow-y: auto;
}

@media screen and (min-width: 720px) {
  .modal {
    width: calc(100vw - 5.5rem);

    left: 2.75rem;
  }

  .modal__menu {
    top: 1.5rem;
    left: calc(100% - 5.5rem);
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: calc(100vw - 9.5rem);

    left: 4.25rem;
  }

  .modal__menu {
    top: 1.5rem;
    left: calc(100% - 7rem);
  }
}
