.hero {
  display: grid;
  position: relative;

  box-shadow: inset 0 0 8px black;
  height: 100vh;
  overflow-x: hidden;
  padding: 5rem 1.5rem;

  background-color: var(--russian-violet);
  background-image: linear-gradient(
    0deg,
    var(--russian-violet) 50%,
    var(--russian-violet-3) 50%
  );
  background-size: 4px 4px;
}

.hero__title {
  z-index: 3;

  margin-top: calc(50vh - 72px - 5rem);

  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
  text-shadow: 0 4px 8px var(--black);
  text-transform: uppercase;
}

.hero__title .typed-out {
  --step-count: 9;
  white-space: unset;
}

.hero__subtitle {
  position: absolute;
  left: 1.5rem;
  top: calc(50vh - 72px + 8rem);
  z-index: 2;

  border-block: 4px solid;
  padding-inline: 0.5rem;
  width: 280px;

  -webkit-text-stroke: 2px var(--carnation-pink);
  color: var(--rose);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 8px var(--rose);
  text-transform: uppercase;
  transform: rotate(-10deg);
}

.hero__anchor {
  align-self: flex-end;
  justify-self: center;
  z-index: 2;

  border: 4px solid;
  box-shadow: 0 0 8px var(--rose), inset 0 0 8px var(--rose);
  padding: 0.5rem 1rem;

  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 0 4px var(--rose);
  text-transform: uppercase;
}

.hero::before {
  display: block;
  position: absolute;
  z-index: 1;

  height: 100%;
  width: 100%;

  background-color: var(--black-2);
  background-image: repeating-linear-gradient(0deg, transparent, var(--black));
  background-size: 4em 4em;
  content: "";
  clip-path: polygon(
    0% 60%,
    0% 100%,
    100% 100%,
    100% 57%,
    95% 76%,
    90% 67%,
    64% 78%,
    54% 64%,
    43% 64%,
    35% 77%,
    30% 77%,
    22% 83%,
    16% 62%,
    12% 64%,
    9% 50%,
    5% 60%
  );
}

.hero::after {
  display: block;
  position: absolute;
  left: calc(100vw - 128px);
  top: calc(72px + 5rem);
  z-index: 0;

  height: 256px;
  width: 256px;

  background-image: linear-gradient(to bottom, var(--jasmine), var(--rose));
  background-size: 200% 200%;
  border-radius: 50%;
  box-shadow: 0 0 8px var(--rose);
  content: "";
}

@media screen and (min-width: 720px) {
  .hero {
    padding: 5rem 2.5rem;
  }

  .hero__title {
    margin-inline: auto;
  }

  .hero__title .typed-out {
    --step-count: 24;
    white-space: nowrap;
  }

  .hero__subtitle {
    display: inline-block;
    left: calc(50vw - 140px);
    top: calc(50vh - 72px + 3rem);

    margin-inline: auto;
  }

  .hero::after {
    left: calc(100vw - 128px - 2.5rem);
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 5rem 4rem;
  }

  .hero::after {
    left: calc(100vw - 256px - 5rem);

    box-shadow: 0 0 16px var(--rose);
  }
}
