.project {
  position: relative;
  z-index: 101;
  padding: 2rem;

  height: calc(100vh - 8rem - 72px);
  width: calc(100vw - 9rem);

  background-color: var(--black);
}

.project__header,
.project__desc,
.project__links {
  position: inherit;
  z-index: inherit;
}

.project__header {
  display: grid;

  border-bottom: 4px dashed var(--lavender-web);
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  grid-template-columns: auto auto;
  grid-template-areas: "heading time" "stack stack";
}

.project__title {
  width: fit-content;
  margin-bottom: 1rem;
}

.project__date::before {
  content: "• ";
  font-weight: bold;
}

.project__date {
  justify-self: flex-start;
}

.project__stacks {
  display: flex;

  width: fit-content;
  gap: 0.5rem;
}

.project__tech {
  padding: 0.5rem 1rem;

  background-color: var(--lavender-web);
  color: var(--black);
  text-transform: uppercase;
}

.project__desc {
  border: 4px solid var(--lavender-web);
  padding: 1rem;
}

.project__links {
  display: flex;
  gap: 1rem;
}

.project__links > * {
  flex: 1;
}
