.projects {
  background-color: var(--black);
  background-image: repeating-linear-gradient(
    0deg,
    transparent,
    var(--black-2)
  );
  background-size: 100% 4em;
}

.projects__header {
  padding: 5rem 1.5rem;

  position: relative;
}

.projects__title {
  --step-count: 16;
}

.projects__desc {
  margin-bottom: 4rem;
}

.projects__content {
  background-color: var(--dark-purple);
  background-image: linear-gradient(var(--dark-purple) 2px, transparent 2px),
    linear-gradient(to right, var(--dark-purple) 2px, var(--black-2) 2px);
  background-size: 48px 48px;
  box-shadow: 0 4px 8px var(--black);

  scroll-margin-top: 72px;
}

.projects__button {
  width: fit-content;
}

.projects__count {
  padding-inline: 1.5rem;
  margin-bottom: 4rem;
  font-weight: bold;
}

.projects__list {
  display: flex;

  flex-direction: column;
  padding-bottom: 5rem;
  padding-inline: 1.5rem;
  row-gap: 4rem;
}

@media screen and (min-width: 720px) {
  .projects__header,
  .projects__list,
  .projects__count {
    padding-inline: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .projects__header,
  .projects__list,
  .projects__count {
    padding-inline: 4rem;
  }

  .projects__desc {
    max-width: 50%;
  }

  .projects__list {
    flex-direction: row;
    gap: 4rem;
  }
}
