.projects {
  padding: 5rem 1.5rem;
  scroll-margin-top: 6.75rem;
  box-shadow: 0 0 16px 4px var(--c-raisin-ls);
  background-color: var(--c-raisin-l);
  opacity: 1;
  background-image: linear-gradient(var(--c-raisin-l) 4px, transparent 4px),
    linear-gradient(to right, var(--c-raisin-l) 4px, var(--c-raisin-xd) 4px);
  background-size: 80px 80px;
}

.projects__button {
  background-color: var(--c-raisin-ls);
}

.projects__list {
  padding-top: 3rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 728px) {
  .projects {
    padding-inline: 3rem;
  }

  .projects__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .projects {
    scroll-margin-top: 5.625rem;
    padding-inline: 5rem;
  }

  .projects__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects__button:hover,
.projects__button:focus {
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--c-gray);
}

.projects__button:active {
  transform: scale(1);
  border-style: inset;
  box-shadow: none;
  background-image: none;
  background-color: var(--c-gray-d);
}
