.skills {
  display: grid;

  padding: 5rem 1.5rem;

  background: var(--black-2);
}

.skills__title {
  margin-inline: auto;
  --step-count: 16;
}

.skills__desc {
  margin-bottom: 4rem;
}

.skills__menu {
  flex-direction: column;
  justify-content: center;

  margin-bottom: 10.25rem;
}

.skills__option > * {
  width: 200px;
  white-space: nowrap;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 1.25rem;
  gap: 2rem;

  scroll-margin-top: 11rem;
}

.skills__list > li {
  position: relative;
  z-index: 2;

  width: fit-content;

  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .skills {
    padding: 5rem 2.5rem;
  }

  .skills__title,
  .skills__desc {
    text-align: center;
  }

  .skills__menu {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .skills {
    padding: 5rem 4rem;
  }
}
