.skills {
  display: grid;

  padding: 5rem 1.5rem;

  background-image: linear-gradient(to bottom, var(--black-2), var(--black));
}

.skills__title {
  margin-inline: auto;
}

.skills__desc {
  margin-bottom: 4rem;
}

.skills__menu {
  flex-direction: column;
  justify-content: center;

  margin-bottom: 10.25rem;
}

.skills__option > * {
  white-space: nowrap;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 1.25rem;
  width: min-content;
  gap: 2rem;

  scroll-margin-top: 11rem;
}

.skills__list > li {
  position: relative;
  z-index: 2;

  width: fit-content;

  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .skills {
    padding: 5rem 2.5rem;
  }

  .skills__title,
  .skills__desc {
    text-align: center;
  }

  .skills__menu {
    flex-direction: row;
    max-width: calc(100vw - 5rem);
    gap: 2rem;
  }

  .skills__option {
    flex: 1;
  }
}

@media screen and (min-width: 1280px) {
  .skills {
    padding: 5rem 4rem;
  }

  .skills__desc {
    max-width: 50vw;
    margin-inline: auto;
  }

  .skills__menu {
    margin-inline: auto;
    max-width: 30vw;
  }

  .skills__option {
    width: max-content;
  }
}
