.project-card {
  position: relative;

  width: calc(100vw - 4rem);
  height: 198px;

  background-image: url("/folder_bg.svg");
  background-repeat: no-repeat;
  background-size: calc(100% - 3rem);
  color: white;
  cursor: pointer;
}

.project-card::before {
  display: block;

  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 1rem;

  width: calc(100% - 1rem);
  height: calc(100% + 2rem);

  background-color: #a59eaf;
  border: 0.25rem outset #d8cee4;
  box-shadow: 0 0 8px #050307, -0.5rem -0.5rem #28173d,
    -0.5rem -0.5rem 8px #050307;
  content: "";
}

.project-card::after {
  display: block;
  position: absolute;
  z-index: 2;
  top: 3.25rem;
  left: 2.25rem;

  border: 0.25rem inset #d8cee4;
  height: calc(100% - 0.5rem);
  width: calc(100% - 3.5rem);

  background-color: #050307;
  content: "";
}

.project-card__title,
.project-card .meta {
  position: inherit;
  z-index: 10;
}
.project-card__title,
.project-card .meta:first-of-type {
  margin-left: 3.5rem;
}

.project-card__title {
  margin-bottom: 1rem;
  max-width: calc(100vw - 9rem);
  padding-top: 4.5rem;

  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.project-card__title::before {
  content: "./";
}

.project-card__title::after {
  content: "_";
}

.project-card .meta {
  display: inline-block;

  width: calc(50% - 3.5rem);
}

.project-card .meta:first-of-type {
  margin-right: 1rem;
}

.project-card .meta__key {
  border-bottom: 2px dashed;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  width: fit-content;
}

.project-card .meta__key::after {
  content: ":";
}

.project-card__title,
.project-card .meta__value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-card .meta__value {
  color: var(--black);
}

@media screen and (min-width: 720px) {
  .project-card {
    width: calc(100vw - 6rem);
  }
}

@media screen and (min-width: 1280px) {
  .project-card {
    width: calc(50vw - 7rem);
  }
}
