.about {
  padding: 5rem 1.5rem;
  scroll-margin-top: 6rem;
  box-shadow: inset 0 0 8px 4px var(--c-raisin-ds);
}

.about__link {
  display: inline-block;
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
  padding: 0.5rem 1rem;
  color: var(--c-raisin);
}


@media screen and (min-width: 728px) {
  .about {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding-inline: 5rem;
  }
}

.about__link:hover,
.about__link:focus {
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--c-gray);
}

.about__link:active {
  transform: scale(1);
  box-shadow: none;
  background-image: none;
  background-color: var(--c-gray-d);
  border-style: inset;
}