.about {
  padding: 5rem 1.5rem;
  scroll-margin-top: 6rem;
}

.about__link {
  display: inline-block;
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
  padding: 0.5rem 1rem;
  color: var(--c-raisin);
}


@media screen and (min-width: 728px) {
  .about {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding-inline: 5rem;
  }
}