a,
.scroll-top,
.header__link,
.hero__anchor,
.link-btn,
.highlight-btn,
.skill-card,
.project-card,
.form__label,
.form__input,
.form__textarea {
  transition: all 0.2s ease;
}

body {
  animation: fade-in 0.5s ease-in;
}

.typed-out {
  animation-name: typing;
  animation-duration: calc(1s * (var(--step-count) / 10));
  animation-timing-function: steps(var(--step-count), jump-both);
  animation-fill-mode: forwards;
}

@media screen and (hover: hover) {
  .hero::after {
    transition: background 10s ease-in-out;
    animation: change-gradient 10s infinite alternate;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes change-gradient {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(1ch * (var(--step-count) + 1));
  }
}
