@import url("./keyframes.css");

a,
.scroll-top,
.header__link,
.hero__anchor,
.link-btn,
.highlight-btn,
.skill-card,
.project-card,
.form__label,
.form__input,
.form__textarea {
  transition: all 0.2s ease;
}

body {
  animation: fade-in 0.5s ease-in;
}

.typed-out {
  animation-name: typing;
  animation-duration: calc(1s * (var(--step-count) / 10));
  animation-timing-function: steps(var(--step-count), jump-both);
  animation-fill-mode: forwards;
}

.hero__title {
  --step-count: 9;
}

.about__title,
.contact__title {
  white-space: nowrap;
}

.about__title {
  --step-count: 12;
}

.skills__title {
  --step-count: 8;
}

.projects__title {
  --step-count: 8;
}

.contact__title {
  --step-count: 10;
}

@media screen and (min-width: 1280px) {
  .hero__title,
  .skills__title,
  .projects__title {
    white-space: nowrap;
  }

  .hero__title .typed-out {
    --step-count: 24;
  }

  .skills__title,
  .projects__title {
    --step-count: 15;
  }
}

@media screen and (hover: hover) {
  .hero::after {
    transition: background 10s ease-in-out;
    animation: change-gradient 10s forwards;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .crt {
    animation: text-shadow 1.6s infinite;
  }
}

@media screen and (prefers-reduced-motion: no-preference) and (hover: hover) {
  .crt::after {
    animation: flicker 0.25s infinite;
  }
}
