:root {
  --c-raisin-xds: hsl(267, 45%, 2%);
  --c-raisin-xd: hsl(267, 45%, 4%);
  --c-raisin-ds: hsl(267, 45%, 6%);
  --c-raisin-d: hsl(267, 45%, 8%);
  --c-raisin: hsl(267, 45%, 10%);
  --c-raisin-l: hsl(267, 45%, 13%);
  --c-raisin-ls: hsl(267, 45%, 18%);
  --c-raisin-xl: hsl(267, 45%, 23%);
  --c-raisin-xls: hsl(267, 45%, 28%);
  --c-pink-ls: hsl(340, 45%, 60%);
  --c-pink-l: hsl(340, 45%, 55%);
  --c-pink: hsl(340, 45%, 50%);
  --c-pink-d: hsl(340, 45%, 45%);
  --c-pink-ds: hsl(340, 45%, 40%);
  --c-yellow-ls: hsl(51, 80%, 80%);
  --c-yellow-l: hsl(51, 80%, 70%);
  --c-yellow: hsl(51, 80%, 60%);
  --c-yellow-d: hsl(51, 80%, 50%);
  --c-yellow-ds: hsl(51, 80%, 45%);
  --c-green-ls: hsl(145, 70%, 70%);
  --c-green-l: hsl(145, 70%, 60%);
  --c-green: hsl(145, 70%, 50%);
  --c-green-d: hsl(145, 70%, 45%);
  --c-green-ds: hsl(145, 70%, 40%);
  --c-sky-ds: hsl(191, 70%, 35%);
  --c-sky-d: hsl(191, 70%, 40%);
  --c-sky: hsl(191, 70%, 50%);
  --c-sky-l: hsl(191, 70%, 60%);
  --c-sky-ls: hsl(191, 70%, 70%);
  --c-gray-ds: hsl(85, 5%, 40%);
  --c-gray-d: hsl(85, 5%, 50%);
  --c-gray: hsl(85, 5%, 60%);
  --c-gray-l: hsl(85, 5%, 70%);
  --c-gray-ls: hsl(85, 5%, 80%);
  --c-honeydrew-ds: hsl(85, 31%, 83%);
  --c-honeydrew-d: hsl(85, 31%, 88%);
  --c-honeydrew: hsl(85, 31%, 93%);
  --c-honeydrew-l: hsl(85, 31%, 98%);
  --c-glass: hsla(85, 5%, 80%, 5%);
}
