@import url("./global-variables.css");

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf");
}

body {
  background-color: var(--c-raisin-d);
  font-family: "JetBrains Mono";
  color: var(--c-honeydrew);
}

a,
button,
label {
  cursor: pointer;
}

.hidden {
  display: none;
}
