@import url("./global-variables.css");

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf");
}

body {
  background-color: var(--c-raisin-d);
  font-family: "JetBrains Mono";
  color: var(--c-honeydrew-ds);
}

a,
button,
label,
summary {
  cursor: pointer;
}

button {
  border-style: outset;
}

.hidden {
  display: none;
}

a {
  color: var(--c-sky);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  font-weight: bold;
}

h1,
h2 {
  color: var(--c-gray-ls);
  text-shadow: 1px 1px var(--c-gray-ds);
  position: relative;
}

h1::before {
  content: "> ";
}

h1 {
  font-size: 2.25rem;
}

h2::before {
  content: "~/";
}

h2 {
  font-size: 1.75rem;
}

h1::after,
h2::after {
  content: "|";
}

p {
  margin-bottom: 1.5rem;
}

button {
  padding: 0.75rem 1.5rem;
}

dialog[open] {
  position: fixed;
  z-index: 100;
  margin-block: auto;
  top: 10vh;
  bottom: 10vh;
  width: calc(100vw - 3rem);
  padding: 1.5rem;
  background-color: var(--c-raisin);
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.sr-only {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.toggle {
  height: 0;
  padding: 0;
  overflow: hidden;
}

button,
a {
  text-transform: capitalize;
}

button {
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
  border: 4px outset var(--c-gray-ls);
  color: var(--c-raisin);
}

textarea {
  resize: vertical;
}

.window::after {
  content: "";
  background-image: url("/ellipsis-solid.svg");
  background-repeat: no-repeat;
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  right: 0.25rem;
  transform: scale(1.5);
}

.window {
  border: 4px outset var(--c-gray);
  border-top-width: 2rem;
  background-color: var(--c-raisin-ds);
  padding: 1.5rem;
  position: relative;
}

