@import url("./palette.css");

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf");
}

:root {
  color-scheme: only light;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--raisin-black);
  color: var(--lavender-web-2);
  font-family: "JetBrains Mono";
  font-size: 1.125rem;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
}

.about,
.skills,
.projects,
.contact {
  scroll-margin-top: 68.97px;
}

a {
  color: var(--rose);
  text-decoration-line: underline;
  text-decoration-thickness: 0.125rem;
  text-transform: capitalize;
}

a,
button,
label {
  cursor: pointer;
}

ul,
menu {
  list-style: none;
}

li {
  width: fit-content;
}

.link-btn,
.highlight-btn {
  display: block;

  padding: 8px 16px;

  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 0 0.5rem var(--rose);
}

.link-btn {
  border: 0.25rem outset var(--rose);

  background-color: var(--black);
  color: var(--rose);
}

.highlight-btn {
  border: 0.25rem outset var(--rose);

  background-image: linear-gradient(to bottom, var(--deep-pink), var(--rose));
  color: var(--black);
}

h2,
h3 {
  margin-bottom: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h2::before {
  content: "~/";
}

h2::after,
h3::after {
  content: "_";
}

h3 {
  font-size: 1.75rem;
}

h3::before {
  content: "./";
}

p {
  margin-bottom: 1rem;
}

.window-frame {
  background-color: var(--black-2);
  border: 1rem solid #a59eaf;

  color: #fff;
}

.window-frame::before {
  display: block;
  position: absolute;
  z-index: inherit;

  border: 0.25rem outset #d8cee4;
  height: calc(100% + 4.5rem);
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: calc(100% + 2.5rem);

  top: -3.25rem;
  left: -1.25rem;

  box-shadow: 0 0 0.5rem #050307;
  background-image: url("/window_frame_header.svg");
  background-size: auto 2rem;
  background-repeat: repeat-x;
  content: "";
  font-weight: bold;
  font-size: 0.875rem;
}

.window-frame::after {
  display: block;
  position: absolute;
  z-index: inherit;

  border: 4px inset #d8cee4;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  content: "";

  pointer-events: none;
}

.sr-only {
  display: block;
  position: absolute;
  z-index: -10;

  height: 0;
  width: 0;

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 1.25rem;
  background-color: #f1e7ff;
}

::-webkit-scrollbar-button {
  border: 4px outset #d9d9d9;
  height: 3rem;
  width: 100%;

  background-color: #a59eaf;
}

::-webkit-scrollbar-thumb {
  border: 4px outset #d8cee4;
  height: 6rem;
  width: 100%;

  background-color: #a59eaf;
}

.modal {
  display: block;
  position: fixed;
  z-index: 101;

  height: calc(100vh - 5.5rem - 72px);
  width: calc(100vw - 3.5rem);

  top: calc(72px + 4rem);
  left: 1.75rem;
}

.modal::before {
  box-shadow: 0 0 100vw 50vw var(--black);
}

.modal__menu {
  position: fixed;
  z-index: 102;

  top: 1rem;
  left: calc(100% - 4.5rem);
}

.modal__close {
  display: block;

  width: 3rem;
  height: 3rem;
}

dialog::backdrop {
  background-color: black;
}

@media screen and (min-width: 720px) {
  .modal {
    width: calc(100vw - 5.5rem);

    left: 2.75rem;
  }

  .modal__menu {
    top: 1.5rem;
    left: calc(100% - 5.5rem);
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: calc(100vw - 9.5rem);

    left: 4.25rem;
  }

  .modal__menu {
    top: 1.5rem;
    left: calc(100% - 7rem);
  }
}
