@import url("./palette.css");

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--raisin-black);
  font-family: "JetBrains Mono";
  color: var(--lavender-web-2);
  font-size: 1.125rem;
}

.about,
.skills,
.projects,
.contact {
  scroll-margin-top: 68.97px;
}

a {
  color: var(--rose);
  text-decoration-line: underline;
  text-decoration-thickness: 0.125rem;
  text-transform: capitalize;
}

a,
button {
  cursor: pointer;
}

ul,
menu {
  list-style: none;
}

li {
  width: fit-content;
}

.link-btn,
.highlight-btn {
  text-transform: uppercase;
  text-decoration: none;
}

.link-btn {
  display: block;
  color: var(--rose);
  padding: 8px 16px;
  border: 0.25rem outset var(--rose);
  background-color: var(--black);
  box-shadow: 0 0 0.5rem var(--rose);
  font-weight: 700;
}

.highlight-btn {
  color: var(--black);
  padding: 8px 16px;
  background-image: linear-gradient(to bottom, var(--deep-pink), var(--rose));
  border: 0.25rem outset var(--rose);
  box-shadow: 0 0 0.5rem var(--rose);
  font-weight: 700;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 4rem;
}

h2::before {
  content: "~/";
}

h2::after {
  content: "_";
}

p {
  margin-bottom: 1rem;
}

.window-frame {
  background-color: var(--black-2);
  border: 16px solid #a59eaf;
  color: #fff;
}

.window-frame::before {
  display: block;
  content: "";
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: -3.25rem;
  left: -1.25rem;
  width: calc(100% + 2.5rem);
  height: calc(100% + 4.5rem);
  border: 4px outset #d8cee4;
  box-shadow: 0 0 8px #050307;
  background-image: url("/window_frame_header.svg");
  background-size: auto 32px;
  background-repeat: repeat-x;
}

.window-frame::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px inset #d8cee4;
}

.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: -10;
}

::-webkit-scrollbar {
  width: 1.25rem;
  background-color: #f1e7ff;
}

::-webkit-scrollbar-button {
  width: 100%;
  height: 3rem;
  border: 4px outset #d9d9d9;
  background-color: #a59eaf;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  height: 6rem;
  border: 4px outset #d8cee4;
  background-color: #a59eaf;
}
