@media (hover: hover) {
  :where(a:hover) {
    border-bottom-color: transparent;
    text-shadow: 0 0 8px var(--rose);
  }

  .link-btn:hover,
  .link-btn:focus,
  .highlight-btn:hover,
  .highlight-btn:focus,
  .hero__anchor:hover,
  .hero__anchor:focus {
    transform: scale(1.05);
  }

  .header__link:hover {
    color: var(--rose);
    text-shadow: 0 0 8px var(--rose);
  }

  .header__link:hover::after {
    background-color: transparent;
    box-shadow: none;
  }

  .skill-card:hover,
  .project-card:hover {
    transform: scale(1.03);
  }

  .skill-card:hover .skill-card__title::after {
    content: "<";
  }

  .project-card:hover .project-card__title::before {
    content: "";
  }

  .project-card:hover .meta__value {
    color: white;
  }

  .form__label:hover {
    background-color: var(--erin);
  }

  /* ACTIVE */

  .link-btn:active,
  .highlight-btn:active {
    border-style: inset;
  }

  .hero__anchor:active {
    text-shadow: none;
  }

  .link-btn:active,
  .highlight-btn:active,
  .hero__anchor:active,
  .skill-card:active,
  .project-card:active {
    transform: scale(1);
  }
}

:where(a:focus-visible) {
  text-shadow: 0 0 8px var(--rose);
  border-color: transparent;
}

.header__link:focus-visible {
  border-color: var(--rose);
  color: var(--rose);
  text-shadow: 0 0 8px var(--rose);
  box-shadow: 0 0 8px var(--rose);
}

.header__link:focus-visible::after {
  background-color: transparent;
  box-shadow: none;
}

.hero__anchor:active,
.link-btn:active,
.highlight-btn:active {
  box-shadow: none;
}

.skill-card:active .skill-card__title {
  background-color: var(--black);
}

.project-card:active .project-card__title {
  color: var(--erin);
}

.form__field:focus-within .form__label,
.form__field--textarea:focus-within .form__label {
  background-color: var(--erin);
}

.form__input:focus,
.form__textarea:focus {
  border-style: solid;
  border-color: var(--erin);
}

.header__link:active {
  color: var(--rose);
  text-shadow: 0 0 8px var(--rose);
}

@media (hover: none) {
  a:active {
    text-decoration: none;
  }

  .link-btn:active,
  .highlight-btn:active {
    transform: scale(1.03);
    border-style: inset;
  }

  .skill-card:active,
  .project-card:active {
    transform: scale(1.03);
  }

  .skill-card:active .skill-card__title::after {
    content: "<";
  }

  .project-card:active .project-card__title::before {
    content: "";
  }

  .project-card:active .meta__value {
    color: white;
  }
}
