.footer {
    background-color: var(--black);
    padding: 2.5rem 1.5rem;
    text-align: center;
    box-shadow: 0 0 8px var(--black);
}

.footer__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer__time {
    display: block;
    margin-bottom: 1rem;
}

.footer__time, .footer__desc {
    font-size: 1rem;
}