.skill-card {
  position: relative;

  height: 13.75rem;
  padding-inline: 1.125rem;
  width: 13rem;

  background-color: var(--russian-violet);
  clip-path: polygon(00% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.skill-card::before {
  display: block;
  position: relative;

  border: 0.25rem inset var(--black-2);
  height: 3rem;
  width: 9.375rem;

  background-color: var(--raisin-black);
  content: "";
}

.skill-card::after {
  display: block;
  position: absolute;
  z-index: 3;

  height: 2.625rem;
  width: 7.75rem;

  top: 0;
  left: 1.375rem;

  background-color: var(--lavender-web-2);
  content: "";
}

.skill-card__title,
.skill-card__meta {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.skill-card__title::before {
  display: block;
  position: absolute;
  z-index: 4;

  height: 2.1875rem;
  width: 1.5rem;

  top: 0;
  left: 1.75rem;

  background-color: var(--black);
  content: "";
}

.skill-card__title {
  margin-bottom: 0;
  margin-top: 3rem;
  padding: 0.5rem;

  background-color: var(--onyx);
  color: #fff;
}

.skill-card__meta {
  border: 0.25rem inset var(--black-2);
  height: 100%;
  padding-top: 1.5rem;

  background-image: repeating-linear-gradient(
    0deg,
    var(--black),
    var(--black) 0.125rem,
    transparent 0.125rem,
    transparent
  );
  background-color: var(--lavender-web);
  background-size: 1.5rem 1.5rem;
  color: var(--black);
  font-size: 1.5rem;
  line-height: 1.5rem;
}
