.project {
  align-self: flex-start;
}

.project[open] .project__title::marker {
  content: "";
}

.project__title::marker {
  content: "./" / "";
  font-weight: bold;
}

.project__title {
  list-style: inside;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--c-yellow-ls);
}

.project__title::after {
  content: "_" / "";
  font-weight: bold;
}

.project__nav {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.project__option {
  flex: 1;
  text-align: center;
}

.project__option:nth-child(even) {
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
}

.project__option:nth-child(odd) {
  border: 4px outset var(--c-raisin-l);
  background-image: linear-gradient(
    to top,
    var(--c-raisin-ls),
    var(--c-raisin)
  );
}

.project__option:nth-child(even) .project__link {
  color: var(--c-raisin);
}
.project__option:nth-child(odd) .project__link {
  color: var(--c-honeydrew);
}

.project__link {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

.project:hover,
.project:focus-within {
  transform: scale(1.05);
}

.project:hover .project__title,
.project:focus-within .project__title {
  color: var(--c-green);
}

.project__option:nth-child(even):hover {
  box-shadow: 0 0 8px var(--c-gray-ls);
}

.project__option:nth-child(odd):hover {
  box-shadow: 0 0 8px var(--c-raisin-ls);
}

.project__option:nth-child(even):active {
  background-color: var(--c-gray-d);
}

.project__option:nth-child(odd):active {
  background-color: var(--c-raisin);
}

.project__option:nth-child(n):active {
  transform: scale(1);
  box-shadow: none;
  border-style: inset;
  background-image: none;
}
