.project {
  border: 1px solid var(--c-raisin-ls);
  background-color: var(--c-raisin);
  padding: 1.5rem;
  box-shadow: 1px 1px 2px var(--c-raisin-ls), -1px -1px 2px var(--c-raisin-ls);
  background-image: linear-gradient(to top, var(--c-raisin), var(--c-raisin-l));
}

.project[open] .project__title::marker {
  content: "";
}

.project__title::marker {
  content: "./";
  font-weight: bold;
}

.project__title {
  font-size: 1.25rem;
  list-style: inside;
}

.project__title::after {
  content: "_";
  font-weight: bold;
}

.project__nav {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.project__option {
  flex: 1;
  text-align: center;
}

.project__option:nth-child(even) {
  border: 4px outset var(--c-gray);
  background-image: linear-gradient(to top, var(--c-gray-ls), var(--c-gray-ds));
}
.project__option:nth-child(even) .project__link {
  color: var(--c-raisin);
}

.project__option:nth-child(odd) {
  border: 4px outset var(--c-mardi-d);
  background-color: var(--c-mardi-ds);
}

.project__link {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}
